# Set default behavior to automatically normalize line endings to LF
* text=auto eol=lf

# Explicitly declare text files
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
LICENSE text eol=lf
.gitignore text eol=lf
.vscodeignore text eol=lf
