.vscode/**
.vscode-test/**
.gitignore
vsc-extension-quickstart.md

src/**
scripts/**
tsconfig.json

dist/test/**
test-fixtures/**

.bumpversion.toml
.taplo.toml
justfile
prek.toml

demo.png

bundled/**/__pycache__/**
bundled/**/*.pyc
bundled/**/*.dist-info/**
bundled/**/bin/**
bundled/**/*.so

node_modules/**
